


.layout {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.link {
    font-size: 18px;
    text-decoration: none;
    color: #333;
    border-bottom: 2px solid red;
}
.active {
    color: red;
}